<%= form_for(@task) do |f| %>
<% if @task.errors.any? %>
<div id="error_explanation">
   <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

   <ul>
      <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
   </ul>
</div>
<% end %>

<div class="form-group">
   <%= f.label :title, "Title*  (free input)" %><br>
   <%= f.text_field :title, id:'title', class:'form-control', required: true %>
</div>
<div class="form-group">
   <%= f.label :status, "Status (select from list)" %><br>
   <%= f.hidden_field :status_selected, value: "",data: {name: @status.try(:name)} %>
   <%= f.text_field :status, id:'status', class:'form-control' %>
</div>
<div class="form-group">
   <%= f.label :employee, "Employee (select from list)" %><br>
   <%= f.hidden_field :employee_selected, value: "",data: { id: @employee.try(:id), email: @employee.try(:email) } %>

   <%= f.text_field :employee, id:'employee', class:'form-control' %>
</div>

<div class="actions">
   <%= f.submit "Send", class: "btn btn-primary" %>
</div>
<% end %>

<script>
  $(function() {
    TaskManager.init("employee")
    TaskManager.init("status")
    TaskManager.init("title")
  });
</script>
