<div class="container">
<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<table class="table table-bordered table-condensed table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><% if task.try(:title).nil?%> <%=""%> <%else%> <%=task.title%><%end%></td>
        <td><% if task.try(:status).nil?%> <%=""%> <%else%> <%=task.status%><%end%></td>
        <td><% if task.try(:employee).nil?%> <%=""%> <%else%> <%=Employee.find(task.employee).email %><%end%></td>
        <td><%= button_to 'Show', task, :method => :get, class: "btn btn-sm btn-info" %></td>
        <td><%= button_to 'Edit', edit_task_path(task), :method => :get, class: "btn btn-sm btn-warning" %></td>
        <td><%= button_to 'Destroy', task, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
</div>
