<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= Status.find(@task.status).name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= Employee.find(@task.employee).email %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
